<h2>Thêm bàn</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label>Tên bàn</label>
          <input type="text" required [(ngModel)]="name1" class="form-control" name="nameTable">
        </div>
        <div class="form-group">
          <label>Số chỗ</label>
          <input type="text" required [(ngModel)]="quantity1" class="form-control" name="quantity">
        </div>
        <button class="btn btn-primary" (click)="addTable()">Ok</button>
      </form>
    </div>
  </div>
</div>

