<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" routerLink="/home/order">Đơn đặt bàn</a>
            <a class="dropdown-item" routerLink="/home/table">Quản lý bàn</a>
            <a class="dropdown-item" routerLink="/home/food">Quản lý thức ăn</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booking-info">Booking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
